{% extends "base.html" %}
{% load static %}
{% block title %}Détails du produit : {{ produit.titre }}{% endblock %}

{% block content %}
<!-- Breadcrumb part start -->
<section class="breadcrumb_part single_product_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <a href="{% url 'home' %}">Accueil</a> / <span>{{ produit.titre }}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb part end -->

<!-- Zone de détail du produit -->
<div class="product_image_area">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Slider d'images du produit -->
            <div class="col-lg-12">
                <div class="product_img_slide owl-carousel">
                    {% if produit.image %}
                        <div class="single_product_img">
                            <img src="{{ produit.image.url }}" alt="{{ produit.titre }}" class="img-fluid">
                        </div>
                    {% else %}
                        <div class="single_product_img">
                            <img src="{% static 'img/placeholder.png' %}" alt="Pas d'image" class="img-fluid">
                        </div>
                    {% endif %}
                    {# Vous pouvez ajouter d'autres images ici si disponibles #}
                </div>
            </div>
            <!-- Informations sur le produit -->
            <div class="col-lg-8">
                <div class="single_product_text text-center">
                    <h3>{{ produit.titre }}</h3>
                    <p>{{ produit.description }}</p>
                    <div class="card_area">
                        <div class="price_area">
                            <p><b>{{ produit.prix }} Franc CFA</b></p>
                        </div>
                        <div class="add_to_cart">
                            <a href="{% url 'confirmer_achat' produit.id %}" class="btn_3">Acheter</a>
                        </div>
                        <!-- Nouveau bouton Message -->
                        <div class="message_button" style="margin-top: 15px;">
                            {% if user.is_authenticated and user != produit.vendeur %}
                            <a href="{% url 'demarrer_conversation' produit.vendeur.id %}" class="btn_3">Message au vendeur</a>
                            {% elif not user.is_authenticated %}
                            <a href="{% url 'login' %}?next={{ request.path }}" class="btn_3">Se connecter pour contacter</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
